/* Smartphones (600px para baixo) */
@media only screen and (max-width: 500px) {
    .quem-sou {
        font-size: 14px;
        padding-left: 23px;
        padding-right: 23px;

        img {
            width: 250px;
        }
    }

    .cards {
        margin-bottom: 0;
    }

    .quem-sou {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .caixa-txt {
        font-size: 14px;
    }
}

@media only screen and (max-width: 700px) {
    .cards {
        margin-left: 5%;
        margin-right: 5%;
    }

    .quem-sou {
        flex-direction: column;
    }

    .caixa-txt {
        margin-bottom: 20px;
    }
}